body {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
}

.max-height {
    height: 100vh;
}

.bg-dark {
    background-color: black!important;
}

.landing {
    background-image: url('../images/alexander-andrews-vGCErDhrc3E-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

#logo {
    margin-top: 2em;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em 1.8em 1em 1.8em;
    border-radius: 10em;
    width: 60%;
}

#logo:hover {
    box-shadow: 1px 2px 8px 1px white, 1px 2px 8px 1px grey;
}

.heading-custom {
    text-shadow: 1px 2px 4px grey, 1px 2px 8px grey;
    transition: all 0.7s ease-in-out;
}

.heading-custom:hover {
    text-shadow: 1px 2px 10px white, 1px 2px 20px grey;
}

.nav-log-sign:hover {
    transition: all 0.3s ease-in-out;
    background-color: white;
    color: black!important;
}