{% extends "base.html" %} {% macro display_errors(error_list) %} {% for error in error_list %}
<small class="form-text text-danger">{{error}}</small> {% endfor %} {% endmacro %} {%block title %}Edit Question: {{super()}}{%endblock%} {% block content %}
<div class="container bg-dark-transparent">
    <h1 class="text-light text-center heading-custom py-3">Edit Question</h1>
    <form action="{{request.path}}" method="POST">
        {{ form.csrf_token }}
        <div class="container">
            {{form.question(class="form-control form-control-lg form-control-lg-dark mb-2 text-center")}}
            <div class="text-center">{{display_errors(form.question.errors)}}</div>
            <div class="row">
                <div class="col-12 col-md-6 mt-2">
                    <div>{{form.option1(class="form-control form-control-lg form-control-lg-dark mb-1 text-center")}}</div>
                    <div class="text-center">{{display_errors(form.option1.errors)}}</div>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <div>{{form.option2(class="form-control form-control-lg form-control-lg-dark mb-1 text-center")}}</div>
                    <div class="text-center">{{display_errors(form.option2.errors)}}</div>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <div>{{form.option3(class="form-control form-control-lg form-control-lg-dark mb-1 text-center")}}</div>
                    <div class="text-center">{{display_errors(form.option3.errors)}}</div>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <div>{{form.option4(class="form-control form-control-lg form-control-lg-dark mb-1 text-center")}}</div>
                    <div class="text-center">{{display_errors(form.option4.errors)}}</div>
                </div>
            </div>
            {{form.solution(class="custom-select custom-select-lg mt-2 mb-3 justify-content-center form-control-lg-dark")}}
            <div class="text-center">{{display_errors(form.solution.errors)}}</div>
            <div class="d-flex justify-content-end">
                <span class="d-block"><a href='/admin/dashboard/Quiz/edit' class="btn btn-outline-danger m-2">Discard Changes</a></span class="d-block">
            <span class="d-block"><button type="submit" class="btn btn-outline-info m-2">Submit</button></span>
            </div>

        </div>
    </form>
</div>
{% endblock %}