{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="player-banner text-center text-light">
        <h1><a class="text-light" href="/player/{{user.username}}">{{user.name.split()[0]}}</a>'s Followers</h1>
        <h5 class="text-light">Total Followers : {{user.get_followers().followers | length}}</h5>
        {% if user.get_followers() | length %}
        <div class="justify-content-around">
            {% for i, follower in enumerate(user.get_followers().followers) %}
            <div class="text-light h4">{{i + 1}}. <a class="text-light" href="/player/{{follower.get('username')}}">{{follower.get('name')}}</a></div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}